<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-controller="myCtrl">
    <input type="text" ng-model="a">
    <select ng-model="cal">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <input type="text" ng-model="b">
    <button ng-click="doCal()">=</button>
    {{result}}
</div>

<script src="angular.js"></script>
<script>
    var app = angular.module('myApp', []);
    app.factory('myPro',function () {
        var currency='$';
        return {
            '+':(a,b)=>currency + (parseFloat(a)+parseFloat(b)),
            '-':(a,b)=>currency + (parseFloat(a)-parseFloat(b)),
            '*':(a,b)=>currency + (parseFloat(a)*parseFloat(b)),
            '/':(a,b)=>currency + (parseFloat(a)/parseFloat(b)),
        }
    });
    app.controller('myCtrl',function ($scope,myPro) {
        $scope.cal="+";
        $scope.doCal = function () {
            $scope.result = myPro[$scope.cal]($scope.a,$scope.b)
        };
    });

</script>
</body>
</html>